.me {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -500;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.me_background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -400;
    width: 100%;
    height: 100%;

    background-image: url(style/img/back.png);
    background-repeat: repeat;
     }

.me_content {
    padding-top: 70px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    width: 100%;
}

.me_content-wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.me_name{
    margin-top: 135px;
    color: white;
    font-weight: 700;
    font-size: 100px;
}

.me_stream{
    color: white;
    font-weight: 500;
    font-size: 60px;
}

.me_description{
    margin-top: 40px;
    color: white;
    font-weight: 100;
    font-size: 20px;
}

.me_photo-wrapper{
    float: right;
}

.me_photo {
    position: relative;
    width: 280px;
    height: 280px;
    border-radius: 150px;
    background-image: url(style/img/me.jpg);
    background-size: cover;
}


.portfolio{
    background-color: #33404e;

    position: relative;
    overflow: hidden;
}
.port_wrapper {
    position: relative;
    z-index: 200;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 150px;
}


.port_title{
    margin-top: 5px;
    color: white;
    font-weight: 300;
    font-size: 50px;
}

.port_description{
    padding-left: 20px;
    color: white;
    font-weight: 100;
    font-size: 25px;

}


.resume{
    background-color: rebeccapurple;

    position: relative;
    overflow: hidden;
}

.resume_wrapper{
    position: relative;
    z-index: 200;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 150px;
}

.resume_frame{
    position: center;
    width: 80%;
    height: 800px;
    overflow: hidden;

}

.resume_dl{
    width: 30%;
    height: 30%;
}