.me {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -500;
    width: 100%;
    height: 1000px;
    overflow: hidden;
}

.me__background {
         position: absolute;
         top: 0;
         left: 0;
         z-index: -400;
         width: 100%;
         height: 100%;

         background-image: url(/style/img/back.jpg);
     }